<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redsquirrelobserver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!--  active android meta-data  -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        
        <activity
            android:name="com.example.testappjuly12.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testappjuly12.ActivityStartObservation"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.testappjuly12.ActivityWalkTransect"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.testappjuly12.ActivitySquirrelSide"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.testappjuly12.ActivityViewCompletedObservations"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.testappjuly12.ActivityViewSingleCompletedObservation"
            android:label="@string/app_name" />
    </application>

</manifest>
